
<h1>All Transactions</h1>

<button class="btn btn-default">
<%= link_to 'New Transaction', new_transaction_path %>
</button>
<br>
<table class="table">
    <% @transactions.each do |transaction| %>
    <tr>
        <td><%= link_to transaction.label, transaction_path(transaction) %></td>
        <td><%= format("$%.2f", transaction.form_amount.to_f) %></td>
	<td><%= transaction.withdrawal_label %></td>
        <td><%= transaction.form_date %></td>

        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Delete', transaction_path(transaction),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</table>
Total: <%= format("$%.2f", @total) %>
<br><br>
<button class="btn btn-default">
<%= link_to "Download CSV", transactions_path(format: "csv") %>
</button>
