<%= form_for :transaction, url: transactions_path do |f| %>

<!-- @transaction when rendering this page originally will be blank
However when coming here from create, @transaction is already
initialized - AND it will have the .errors attribute -->
<% if @transaction and @transaction.errors.any? %>
  <div id="error_explanation">
    <h2>
      <!-- Rails helper that takes number and string and then will auto
      pluralizes it -->
      <%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction
      from being saved:
    </h2>
    <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<p>
  <%= f.label :description %><br>
  <%= f.text_field :description %>
</p>

<p>
  <%= f.label :amount %><br>
  <%= f.text_area :amount %>
</p>
<p>
  <%= f.label :date %><br>
  <%= f.date_field :date, :value => Date.today %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>

<%= link_to 'Back', transactions_path %>
